<div class="home__container">
    <app-card
        gameCover= "assets/ac-cover.png"
        gameLabel= "EXCLUSIVO"
        gamePrice= "R$ 339,99"
        gameType= "DIGITAL | PS3 PS4 PS5"

        gameName="ASSASSIN'S CREED"
        [gameStar]="4"
        gameNumbers="1 a 4 jogadores"
        [gameAge]="18"
        gameClassificacao="Violência Extrema"
        gameDescription="Assassin's Creed é uma série de ação-aventura e RPG da Ubisoft, focada na rivalidade entre Assassinos 
                        e Templários, com uma trama que envolve sociedades secretas e uma antiga civilização."
    >
    </app-card>
    <app-card
        gameCover= "assets/bt-hardline.jpg"
        gameLabel= "O MELHOR DO ANO"
        gamePrice= "R$ 269,99"
        gameType= "DISC PS5"

        gameName="BATTLEFIELD HARDLINE"
        [gameStar]="4.5"
        gameNumbers="1 a 2 jogadores"
        [gameAge]="14"
        gameClassificacao="Ação"
        gameDescription="Battlefield Hardline é um jogo de tiro em primeira pessoa desenvolvido pela Visceral Games em colaboração 
                        com a DICE e publicado pela Electronic Arts, focando em confrontos entre polícia e criminosos."
    >
    </app-card>
    <app-card
        gameCover= "assets/bt-bad-company-2.jpg"
        gameLabel= "NEW"
        gamePrice= "R$ 199,90"
        gameType= "DIGITAL | PS3"

        gameName="BATTLEFIELD BAD COMPANY 2"
        [gameStar]="5"
        gameNumbers="1 a 2 jogadores"
        [gameAge]="16"
        gameClassificacao="Violência"
        gameDescription="Battlefield: Bad Company é um jogo eletrônico de tiro em primeira pessoa desenvolvido pela DICE 
                    e publicado pela Electronic Arts para PlayStation 3 e Xbox 360. É parte da série Battlefield."
    >
    </app-card>
    <app-card
        gameCover= "assets/bt-1.jpg"
        gameLabel= "DIGITAL"
        gamePrice= "R$ 249,90"
        gameType= "DIGITAL | PS4"

        gameName="BATTLEFIELD 1"
        [gameStar]="4.5"
        gameNumbers="1 a 2 jogadores"
        [gameAge]="16"
        gameClassificacao="Violência"
        gameDescription="Battlefield 1 é um jogo eletrônico de tiro em primeira pessoa desenvolvido pela DICE e publicada 
                        pela Electronic Arts. É o décimo quarto jogo da franquia Battlefield. Foi lançado em outubro de 2016 
                        para Microsoft Windows, PlayStation 4 e Xbox One."
    >
    </app-card>
    <app-card
        gameCover= "assets/bt-5.jpg"
        gameLabel= "NEW"
        gamePrice= "R$ 229,99"
        gameType= "DIGITAL | PS5"

        gameName="BATTLEFIELD V"
        [gameStar]="3"
        gameNumbers="1 jogador"
        [gameAge]="16"
        gameClassificacao="Violência"
        gameDescription="Battlefield V é um jogo de tiro em primeira pessoa desenvolvido pela DICE e publicado pela Electronic Arts. 
                        Lançado em 20 de novembro de 2018, é o 16º título da série, disponível para PC, PS4 e Xbox One, com novos 
                        modos e mapas."
    >
    </app-card>
    <app-card
        gameCover= "assets/bt-4.jpg"
        gameLabel= "EXCLUSIVO"
        gamePrice= "R$ 269,99"
        gameType= "DISC PS5"
        
        gameName="BATTLEFIELD 4"
        [gameStar]="4.5"
        gameNumbers="1 jogador"
        [gameAge]="16"
        gameClassificacao="Violência"
        gameDescription="Battlefield 4 é um jogo eletrônico de tiro em primeira pessoa desenvolvido pela DICE e publicado 
                        pela Electronic Arts. É o décimo terceiro título da série, sequência de Battlefield 3, 
                        e foi lançado entre outubro e novembro de 2013."
    >
    </app-card>
</div>

