<div class="home__container">
    <app-card
        gameCover= "assets/ac-cover.jpg"
        gameLabel= "EXCLUSIVO"
        gamePrice= "R$ 339,99"
        gameType= "DIGITAL | PS3 PS4 PS5"
    >
    </app-card>
    <app-card
        gameCover= "assets/bt-hardline.jpg"
        gameLabel= "O MELHOR DO ANO"
        gamePrice= "R$ 269,99"
        gameType= "DISC PS5"
    >
    </app-card>
    <app-card
        gameCover= "assets/bt-bad-company-2.jpg"
        gameLabel= "NEW"
        gamePrice= "R$ 199,90"
        gameType= "DIGITAL | PS3"
    >
    </app-card>
    <app-card
        gameCover= "assets/bt-1.jpg"
        gameLabel= "DIGITAL"
        gamePrice= "R$ 249,90"
        gameType= "DIGITAL | PS4"
    >
    </app-card>
    <app-card
        gameCover= "assets/bt-5.jpg"
        gameLabel= "NEW"
        gamePrice= "R$ 229,99"
        gameType= "DIGITAL | PS5"
    >
    </app-card>
    <app-card
        gameCover= "assets/bt-4.jpg"
        gameLabel= "EXCLUSIVO"
        gamePrice= "R$ 269,99"
        gameType= "DISC PS5"
    >
    </app-card>
</div>
